<div class="main-content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-sm-11 col-12">

                <div class="card ">
                    <div class="card-header text-right card-header-success">
                        <h4 class="card-title">برداشت وجه</h4>
                        <p class="card-category">پس از ثبت درخواست برداشت مبلغ تا حداکثر بییست و چهار ساعت آینده واریز خواهد شد</p>
                    </div>
                    <div class="w-100 d-flex m-2 flex-column  card-body" dir="rtl">
                        <form [formGroup]="payDemandForm" (ngSubmit)="pay()" dir="rtl">
                            <div class="row ">

                                <div class="col-md-5">
                                    <mat-form-field class="example-full-width" dir="rtl">
                                        <input matInput formControlName="identityNumber" placeholder="شماره شناسنامه ">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-5">
                                    <mat-form-field class="example-full-width" dir="rtl">
                                        <input matInput formControlName="nationalNumber" placeholder="کد ملی ">
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="w-100 d-flex justify-content-end">

                                <button mat-raised-button type="submit" class="btn btn-success pull-right">
                                <span>
                                        برداشت وجه
                                    </span>
                                </button>
                            </div>

                            <div class="clearfix"></div>
                        </form>

<!--                            <div class="w-100 d-flex justify-content-center">-->

<!--                                <button mat-raised-button (click)="pay()" type="submit" class="btn btn-warning pull-right">-->
<!--                                <span>-->
<!--                                        برداشت وجه-->
<!--                                    </span>-->
<!--                                </button>-->
<!--                            </div>-->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
