<div class="main-content">
    <div class="container-fluid">
        <div class="row justify-content-sm-center">
            <div class="col-12 col-sm-11">
                <div class="card">
                    <div class="card-header text-right card-header-success">
                        <h4 class="card-title">{{'contact-data.title' | translate}}</h4>
                        <p class="card-category">{{'contact-data.describe' | translate}}</p>
                    </div>
                    <div class="card-body" dir="rtl">
                        <div class="row px-2 flex-column">
                            <div class="d-flex border-bottom py-2">
                                <p class="text-success">{{'contact-data.contract-address' | translate}}</p>
                                <p>{{contactAddress}}</p>
                            </div>
                            <div class="d-flex border-bottom py-2">
                                <p class="text-success">{{'contact-data.stable-coin-address' | translate}}</p>
                                <p>{{stableCoinAddress}}</p>
                            </div>
<!--                            <div class="d-flex border-bottom py-2">-->
<!--                                <p class="text-success">آدرس توکن بیمه : </p>-->
<!--                                <p>{{crnAddress}}</p>-->
<!--                            </div>-->
                            <div class="d-flex border-bottom py-2">
                                <p class="text-success">{{'contact-data.registration-fee' | translate}} </p>
                                <p>{{crnPerTether }}</p>
                            </div>
                            <div class="d-flex border-bottom py-2">
                                <p class="text-success">{{'contact-data.max-payable' | translate}} </p>
                                <p>{{maxPaymentValue }}</p>
                            </div>
                            <div class="d-flex  py-2">
                                <p class="text-success">{{'contact-data.suspend-time' | translate}}</p>
                                <p>{{suspendTimeValue}}</p>
                            </div>
<!--                            <div class="d-flex  py-2">-->
<!--                                <p class="text-success">موجودی توکن شما : </p>-->
<!--                                <p>{{balanceValue}}</p>-->
<!--                            </div>-->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
