<div class="main-content">
    <div class="container-fluid">
        <div class="row justify-content-sm-center">
            <div class="col-12 col-sm-11">
                <div class="card">
                    <div class="card-header text-right card-header-success">
                        <h4 class="card-title">امتیازدهی بیماران</h4>
                        <p class="card-category">آدرس ولت بیمار مورد نظر و امتیاز مناسب را وارد کنید</p>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="voteForm" (ngSubmit)="vote()" dir="rtl">
                            <div class="row ">

                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width" dir="rtl">
                                        <input matInput formControlName="address" placeholder="آدرس ">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width" dir="rtl">
                                        <input matInput formControlName="nationalNumber" placeholder="کدملی ">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width" dir="rtl">
                                        <input matInput formControlName="identityNumber" placeholder="شماره شناسنامه ">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width" dir="rtl">
                                        <input type="number" max="100" matInput formControlName="value" placeholder="امتیاز ">
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="w-100 d-flex justify-content-end">

                                <button mat-raised-button type="submit" class="btn btn-success pull-right">
                                    <span>
                                        ارسال اطلاعات
                                    </span>
                                </button>
                            </div>

                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
