<div class="main-content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-11">

            <div class="card ">
                <div class="card-header text-right card-header-success">
                    <h4 class="card-title">ثبت درخواست مطالبه</h4>
                    <p class="card-category">لطفا شرایط را با دقت مطالعه نمایید</p>
                </div>
                <div class="w-100 d-flex m-2 flex-column  card-body">
                    <p class="text-right">
                        برای دریافت حق بیمه ابتدا مدارک پزشکی خود را از طریق لینک زیر ارسال کنید تا پزشکان ما در اسرع وقت نسبت به صحت اطلاعات شما امتیاز داده و درصورت دریافت حداکثر امتیاز تا میزان سقف تعهد برای شما وارید خواهد شد
                    </p>

                    <ul class="text-right" dir="rtl">
                        <h2>
                            <small>
                                مدارک مورد نیاز
                            </small>
                        </h2>
                        <li>
                            مدرک اول
                        </li>
                        <li>
                           مدرک دوم
                        </li>
                        <li>
                            مدرک سوم
                        </li>
                        <li>
                            مدرک اختیاری
                        </li>
                    </ul>
                    <a href="mailto:someone@example.com?Subject=Hello%20again" target="_top">
                    <button type="button" class="btn btn-success btn-lg btn-block">ارسال ایمیل</button>
                    </a>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
