<div class="main-content">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-sm-6 col-12">

                <div class="card ">
                    <div class="card-header text-right card-header-success">
                        <h4 class="card-title">دریافت اطلاعات مطالبه</h4>
                        <p class="card-category">لطفا موارد خواسته شده را وارد کنید</p>
                    </div>
                    <div class="w-100 d-flex m-2 flex-column  card-body" dir="rtl">
                        <div class="row px-4 flex-column" *ngIf="isClaimer">
                            <div class="d-flex border-bottom py-2">
                                <p class="text-success px-2">آدرس قرارداد هوشمند : </p>
                                <p>{{claimerData.address}}</p>
                            </div>
                            <div class="d-flex border-bottom py-2">
                                <p class="text-success px-2">سررسید  : </p>
                                <p>{{claimerData.deadLine}}</p>
                            </div>
                            <div class="d-flex border-bottom py-2">
                                <p class="text-success px-2">امتیاز کسب شده  : </p>
                                <p>{{claimerData.vote}}</p>
                            </div>
                            <div class="d-flex border-bottom py-2">
                                <p class="text-success px-2">وضعیت مطالبه  : </p>
                                <p *ngIf="claimerData.claimed">مطالبه شده</p>
                                <p *ngIf="!claimerData.claimed">مطالبه نشده</p>
                            </div>
                            <div class="d-flex  py-2">
                                <p class="text-success px-2">وضعیت پرداخت  : </p>
                                <p *ngIf="claimerData.claimed">پرداخت شده</p>
                                <p *ngIf="!claimerData.claimed">پرداخت نشده</p>
                            </div>
                        </div>
                        <form *ngIf="!isClaimer" [formGroup]="getClaimerForm" (ngSubmit)="getClaimer()" dir="rtl">
                            <div class="row ">

                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width" dir="rtl">
                                        <input matInput formControlName="address" placeholder="آدرس کیف پول ">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width" dir="rtl">
                                        <input matInput formControlName="identityNumber" placeholder="شماره شناسنامه ">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width" dir="rtl">
                                        <input matInput formControlName="nationalNumber" placeholder="کد ملی ">
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="w-100 mt-sm-5 d-flex justify-content-end">

                                <button mat-raised-button type="submit" class="btn btn-success pull-right">
                                <span>
                                        دریافت مشخصات
                                    </span>
                                </button>
                            </div>

                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-12">

            <div class="card ">
                <div class="card-header text-right card-header-success">
                    <h4 class="card-title">ثبت درخواست مطالبه</h4>
                    <p class="card-category">لطفا شرایط را با دقت مطالعه نمایید</p>
                </div>
                <div class="w-100 d-flex m-2 flex-column  card-body" dir="rtl">
                    <p class="text-right">
                        برای دریافت حق بیمه ابتدا آدرس کیف پول خودرا وارد کنید سپس مدارک پزشکی خود را به ایمیل ما ارسال کنید تا بررسی شود
                    </p>
                    <p class="text-right">
                          ایمیل ما : email@mail.com
                    </p>
                    <form [formGroup]="claimForm" (ngSubmit)="claim()" dir="rtl">
                        <div class="row ">

                            <div class="col-md-5">
                                <mat-form-field class="example-full-width" dir="rtl">
                                    <input matInput formControlName="identityNumber" placeholder="شماره شناسنامه ">
                                </mat-form-field>
                            </div>
                            <div class="col-md-5">
                                <mat-form-field class="example-full-width" dir="rtl">
                                    <input matInput formControlName="nationalNumber" placeholder="کد ملی ">
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="w-100 d-flex justify-content-end">

                            <button mat-raised-button type="submit" class="btn btn-success pull-right">
                                <span>
                                        ارسال آدرس من
                                    </span>
                            </button>
                        </div>

                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
            </div>

        </div>
    </div>
</div>
