.profile-form,response-form{
    opacity: 0;
    visibility: hidden;
    height: 0;
    transition: .5s ease-out all;
}
.show{
    height: auto;
    visibility: visible;
    opacity: 1;
    transition: .5s ease-in all;
}
::ng-deep .mat-step-header .mat-step-icon-selected{
    background: #4caf50;
}
::ng-deep .mat-horizontal-content-container{
    padding: 5px !important;
}
